@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 3s ease-in-out;
}

.blurryBackground {
    background-image: url('/layered-peaks-haikei.svg');
}

.correctText {
    background: -webkit-linear-gradient(#008800, #006600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.incorrectText {
    background: -webkit-linear-gradient(#d42405, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}